default-flows.json
[
    {
        "id": "webos-services-tab",
        "type": "tab",
        "label": "WebOS System Services",
        "disabled": false,
        "info": "Local Edge Node services for the browser-based WebOS.\nExposes headless browser capabilities (screenshots, scraping, PDF generation)\nvia localhost HTTP endpoints that the WebOS can call."
    },
    {
        "id": "webos-comment",
        "type": "comment",
        "z": "webos-services-tab",
        "name": "WebOS Local Edge Node - Headless Browser Services",
        "info": "These endpoints provide RPC-style access to a warm Chromium instance.\nThe WebOS (running in the user's browser) makes fetch() calls to these\nlocalhost endpoints to perform tasks that require a full browser engine.\n\nEndpoints:\n- POST /os/screenshot - Capture a screenshot of a URL or HTML\n- POST /os/scrape - Extract text content from a JavaScript-rendered page\n- POST /os/pdf - Generate a PDF from HTML content\n- GET /os/proxy?url=... - Reverse proxy that strips X-Frame-Options/CSP for iframe embedding\n- POST /os/browser/action - Stateful remote browser control (goto, click, type, screenshot)",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "screenshot-in",
        "type": "http in",
        "z": "webos-services-tab",
        "name": "POST /os/screenshot",
        "url": "/os/screenshot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "screenshot-func"
            ]
        ]
    },
    {
        "id": "screenshot-func",
        "type": "function",
        "z": "webos-services-tab",
        "name": "Take Screenshot",
        "func": "const getBrowser = global.get('getBrowser');\nif (!getBrowser) {\n    msg.payload = { success: false, error: 'Browser service not available. Puppeteer may still be installing.' };\n    msg.statusCode = 503;\n    return msg;\n}\n\nconst url = msg.payload.url;\nconst html = msg.payload.html;\n\nif (!url && !html) {\n    msg.payload = { success: false, error: 'Provide either \\\"url\\\" or \\\"html\\\" in the request body.' };\n    msg.statusCode = 400;\n    return msg;\n}\n\ntry {\n    const browser = await getBrowser();\n    const page = await browser.newPage();\n    try {\n        await page.setViewport({ width: 1280, height: 800 });\n        if (url) {\n            await page.goto(url, { waitUntil: 'networkidle2', timeout: 60000 });\n        } else {\n            await page.setContent(html, { waitUntil: 'networkidle2', timeout: 60000 });\n        }\n        // Wait for Sandpack preview iframe to render if present\n        try {\n            const iframeHandle = await page.waitForSelector('.sp-preview-iframe', { timeout: 30000 });\n            // Wait for Sandpack to finish compiling inside the iframe\n            await new Promise(r => setTimeout(r, 3000));\n        } catch (e) {\n            // No Sandpack iframe found — proceed with screenshot as normal\n        }\n        const screenshot = await page.screenshot({ encoding: 'base64', fullPage: false });\n        msg.payload = { success: true, image: 'data:image/png;base64,' + screenshot };\n    } finally {\n        await page.close();\n    }\n} catch (err) {\n    msg.payload = { success: false, error: err.message };\n    msg.statusCode = 500;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 60,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "screenshot-out"
            ]
        ]
    },
    {
        "id": "screenshot-out",
        "type": "http response",
        "z": "webos-services-tab",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "scrape-in",
        "type": "http in",
        "z": "webos-services-tab",
        "name": "POST /os/scrape",
        "url": "/os/scrape",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "scrape-func"
            ]
        ]
    },
    {
        "id": "scrape-func",
        "type": "function",
        "z": "webos-services-tab",
        "name": "Scrape Page Text",
        "func": "const getBrowser = global.get('getBrowser');\nif (!getBrowser) {\n    msg.payload = { success: false, error: 'Browser service not available. Puppeteer may still be installing.' };\n    msg.statusCode = 503;\n    return msg;\n}\n\nconst url = msg.payload.url;\nif (!url) {\n    msg.payload = { success: false, error: 'Provide \"url\" in the request body.' };\n    msg.statusCode = 400;\n    return msg;\n}\n\ntry {\n    const browser = await getBrowser();\n    const page = await browser.newPage();\n    try {\n        await page.goto(url, { waitUntil: 'networkidle0', timeout: 30000 });\n        const text = await page.evaluate(() => document.body.innerText);\n        const title = await page.evaluate(() => document.title);\n        msg.payload = { success: true, title: title, text: text, url: url };\n    } finally {\n        await page.close();\n    }\n} catch (err) {\n    msg.payload = { success: false, error: err.message };\n    msg.statusCode = 500;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 60,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "scrape-out"
            ]
        ]
    },
    {
        "id": "scrape-out",
        "type": "http response",
        "z": "webos-services-tab",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "pdf-in",
        "type": "http in",
        "z": "webos-services-tab",
        "name": "POST /os/pdf",
        "url": "/os/pdf",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "pdf-func"
            ]
        ]
    },
    {
        "id": "pdf-func",
        "type": "function",
        "z": "webos-services-tab",
        "name": "Generate PDF",
        "func": "const getBrowser = global.get('getBrowser');\nif (!getBrowser) {\n    msg.payload = { success: false, error: 'Browser service not available. Puppeteer may still be installing.' };\n    msg.statusCode = 503;\n    return msg;\n}\n\nconst html = msg.payload.html;\nif (!html) {\n    msg.payload = { success: false, error: 'Provide \"html\" in the request body.' };\n    msg.statusCode = 400;\n    return msg;\n}\n\ntry {\n    const browser = await getBrowser();\n    const page = await browser.newPage();\n    try {\n        await page.setContent(html, { waitUntil: 'networkidle0', timeout: 30000 });\n        const pdf = await page.pdf({ format: 'A4', printBackground: true });\n        const base64 = pdf.toString('base64');\n        msg.payload = { success: true, pdf: 'data:application/pdf;base64,' + base64 };\n    } finally {\n        await page.close();\n    }\n} catch (err) {\n    msg.payload = { success: false, error: err.message };\n    msg.statusCode = 500;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 60,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [
            [
                "pdf-out"
            ]
        ]
    },
    {
        "id": "pdf-out",
        "type": "http response",
        "z": "webos-services-tab",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "proxy-in",
        "type": "http in",
        "z": "webos-services-tab",
        "name": "GET /os/proxy",
        "url": "/os/proxy",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "proxy-func"
            ]
        ]
    },
    {
        "id": "proxy-func",
        "type": "function",
        "z": "webos-services-tab",
        "name": "Iframe Reverse Proxy",
        "func": "const targetUrl = msg.req.query.url;\n\nif (!targetUrl) {\n    msg.payload = \"Missing URL parameter\";\n    msg.statusCode = 400;\n    return msg;\n}\n\nlet parsed;\ntry {\n    parsed = new URL(targetUrl);\n} catch (e) {\n    msg.payload = \"Invalid URL\";\n    msg.statusCode = 400;\n    return msg;\n}\n\nconst client = parsed.protocol === \"https:\" ? https : http;\n\nreturn new Promise((resolve) => {\n    const options = {\n        hostname: parsed.hostname,\n        port: parsed.port || (parsed.protocol === \"https:\" ? 443 : 80),\n        path: parsed.pathname + parsed.search,\n        method: \"GET\",\n        headers: {\n            \"User-Agent\": msg.req.headers[\"user-agent\"] || \"AgentOS-Proxy\"\n        }\n    };\n\n    const proxyReq = client.request(options, (response) => {\n        const chunks = [];\n\n        msg.headers = Object.assign({}, response.headers);\n        delete msg.headers[\"x-frame-options\"];\n        delete msg.headers[\"content-security-policy\"];\n\n        msg.statusCode = response.statusCode;\n\n        response.on(\"data\", (chunk) => {\n            chunks.push(chunk);\n        });\n\n        response.on(\"end\", () => {\n            const raw = Buffer.concat(chunks);\n            const contentType = (response.headers[\"content-type\"] || \"\").toLowerCase();\n            if (contentType.includes(\"text/html\")) {\n                let html = raw.toString(\"utf8\");\n                const baseTag = '<base href=\"' + parsed.origin + '/\">';\n                if (/<head[^>]*>/i.test(html)) {\n                    html = html.replace(/<head([^>]*)>/i, '<head$1>' + baseTag);\n                } else {\n                    html = baseTag + html;\n                }\n                msg.payload = html;\n            } else {\n                msg.payload = raw;\n            }\n            resolve(msg);\n        });\n    });\n\n    proxyReq.on(\"error\", (err) => {\n        msg.payload = \"Proxy error: \" + err.message;\n        msg.statusCode = 500;\n        resolve(msg);\n    });\n\n    proxyReq.end();\n});",
        "outputs": 1,
        "timeout": 60,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "http",
                "module": "http"
            },
            {
                "var": "https",
                "module": "https"
            }
        ],
        "x": 380,
        "y": 480,
        "wires": [
            [
                "proxy-out"
            ]
        ]
    },
    {
        "id": "proxy-out",
        "type": "http response",
        "z": "webos-services-tab",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 480,
        "wires": []
    },
    {
        "id": "browser-action-comment",
        "type": "comment",
        "z": "webos-services-tab",
        "name": "Remote Browser Control — Stateful Puppeteer API",
        "info": "Persistent browser session with saved cookies via userDataDir.\nPOST /os/browser/action with { action, url?, selector?, text? }\nActions: goto, click, type, screenshot\nAlways returns a base64 screenshot + DOM text.",
        "x": 310,
        "y": 560,
        "wires": []
    },
    {
        "id": "browser-action-in",
        "type": "http in",
        "z": "webos-services-tab",
        "name": "POST /os/browser/action",
        "url": "/os/browser/action",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "browser-action-func"
            ]
        ]
    },
    {
        "id": "browser-action-func",
        "type": "function",
        "z": "webos-services-tab",
        "name": "Remote Browser Control",
        "func": "const action = msg.payload.action;\nif (!action) {\n    msg.payload = { success: false, error: \"Missing action field. Use: goto, click, type, screenshot\" };\n    msg.statusCode = 400;\n    return msg;\n}\n\ntry {\n    let browser = global.get(\"activeBrowser\");\n    let page = global.get(\"activePage\");\n\n    if (!browser || !browser.isConnected()) {\n        const userDataDir = path.join(os.homedir(), \".node-red-standalone\", \"chrome-profile-data\");\n        browser = await puppeteer.launch({\n            headless: true,\n            userDataDir: userDataDir,\n            args: [\"--no-sandbox\", \"--disable-setuid-sandbox\"]\n        });\n        page = await browser.newPage();\n        await page.setViewport({ width: 1280, height: 800 });\n        global.set(\"activeBrowser\", browser);\n        global.set(\"activePage\", page);\n    }\n\n    if (!page || page.isClosed()) {\n        page = await browser.newPage();\n        await page.setViewport({ width: 1280, height: 800 });\n        global.set(\"activePage\", page);\n    }\n\n    if (action === \"goto\") {\n        if (!msg.payload.url) {\n            msg.payload = { success: false, error: \"Missing url for goto action\" };\n            msg.statusCode = 400;\n            return msg;\n        }\n        await page.goto(msg.payload.url, { waitUntil: \"networkidle2\" });\n    } else if (action === \"click\") {\n        if (!msg.payload.selector) {\n            msg.payload = { success: false, error: \"Missing selector for click action\" };\n            msg.statusCode = 400;\n            return msg;\n        }\n        await page.click(msg.payload.selector);\n    } else if (action === \"type\") {\n        if (!msg.payload.selector || !msg.payload.text) {\n            msg.payload = { success: false, error: \"Missing selector or text for type action\" };\n            msg.statusCode = 400;\n            return msg;\n        }\n        await page.type(msg.payload.selector, msg.payload.text);\n    } else if (action === \"screenshot\") {\n        // Just take the screenshot below\n    } else {\n        msg.payload = { success: false, error: \"Unknown action: \" + action + \". Use: goto, click, type, screenshot\" };\n        msg.statusCode = 400;\n        return msg;\n    }\n\n    const screenshot = await page.screenshot({ encoding: \"base64\" });\n    const dom = await page.evaluate(() => document.body.innerText.substring(0, 5000));\n\n    msg.payload = { success: true, screenshot: screenshot, dom: dom };\n    return msg;\n} catch (err) {\n    msg.payload = { success: false, error: err.message };\n    msg.statusCode = 500;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 60,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "puppeteer",
                "module": "puppeteer"
            },
            {
                "var": "path",
                "module": "path"
            },
            {
                "var": "os",
                "module": "os"
            }
        ],
        "x": 420,
        "y": 620,
        "wires": [
            [
                "browser-action-out"
            ]
        ]
    },
    {
        "id": "browser-action-out",
        "type": "http response",
        "z": "webos-services-tab",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 620,
        "wires": []
    }
]
